<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>登录</title>
</head>
<div class="container">
    <div class="row row-centered">
        <div class="well col-md-6 col-centered">
            <form class="form-horizontal center-block" role="form" method="post">
                <legend>用户登录</legend>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="username">用户名</label>
                    <div  class="col-sm-4 ">
                        <input class="form-control" id="username" type="text" name="username" placeholder="请输入用户名"  />
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="password">密码</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="password" type="password"  name="password" onchange="password_change(this.id)" placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="login"> </label>
                    <div class="col-sm-4">
                        <input class="btn btn-default pull-left" id="login" type="button" onclick="loginFuc()" value="登录"/>
                        <a class="btn btn-default pull-right" th:href="@{'/example/user/regist'}">去注册</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>